<mat-card *ngIf="F">
    <mat-card-header>
        <mat-card-title>
            {{ F.title }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [attr.id]="F.title + '-form'" class="dui-form" [formGroup]="fg">
            <div *ngFor="let section of F.layout.sections">
                <div class="dui-form-section-rows" fxLayout="column">
                    <div *ngFor="let row of section.rows" class="dui-form-row" fxLayout="row" fxLayout.lt-md="column"
                        fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <div *ngFor="let control of row.controls" [fxFlex]="control.width">
                            <mat-form-field style="width: 100%;"
                                *ngIf="control.controlType == DUIFormControlType.TEXT_INPUT">
                                <mat-label>{{ control.label }}</mat-label>
                                <input class="dui-form-control" [formControlName]="control.attributeName" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <mat-form-field class="dui-form-field" appearance="fill">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field> -->
        </form>

        <button color="primary" mat-raised-button>Basic</button>
    </mat-card-content>
</mat-card>